# Analysis of our data

1. Data collecting and data cleaning 
2. Computations for the creation of the adjacency matrix and the graph
3. Analysis

In [28]:
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas.plotting import scatter_matrix
from pandas.io.json import json_normalize
import pickle
import re
import scipy as sp
from scipy import stats
import seaborn as sns
from sklearn import metrics
from sklearn.cluster import DBSCAN
from sklearn.datasets.samples_generator import make_blobs
from sklearn.decomposition import PCA
from sklearn.feature_selection import mutual_info_regression
from sklearn.preprocessing import StandardScaler
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)
warnings.simplefilter(action='ignore', category=RuntimeWarning)
pd.options.mode.chained_assignment = None

import omdb

In [2]:
%matplotlib inline

# 1. Data collecting and data cleaning

In [14]:
#import dataset
FILE_PATH_CREW = "../Data/tmdb_5000_credits.csv"

features_crew = pd.read_csv(FILE_PATH_CREW)

# Dataframe with info about the movies
features_crew.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [22]:
#specify your API_KEY used to set client
API_y_KEY = '3a7e30ce'
omdb.set_default('apikey', API_y_KEY)
client = omdb.OMDBClient(apikey=API_y_KEY)

In [70]:
#We have a 1000 request limit so you can decide here at which film you want to start and where to end 
id_end = 4803
id_start = id_end - 1000

In [74]:
#creates empty dictionary then updates it using the movie_id as a key and the output of the
#request as value (note that that res.content isn't actually a dict but a byte object, we may
#need to convert it later)

collected = dict()

for i in range(id_start, id_end):
    title = features_crew.title[i]
    res = omdb.request(t=title, tomatoes=True)
    movie_json = res.content
    collected[str(features_crew.movie_id[i])] = movie_json

In [83]:
# saves collected as pickle
with open('metacrit.p', 'wb') as fp:
    pickle.dump(collected, fp, protocol=pickle.HIGHEST_PROTOCOL)

In [3]:
# loads collected
with open('metacrit.p', 'rb') as fp:
    test_data = pickle.load(fp)

# 2. Computations for the creation of the adjacency matrix and the graph

In [4]:
df = pd.DataFrame.from_dict(test_data, orient='index')
df.head()

                                                        0
19995   b'{"Title":"Avatar","Year":"2009","Rated":"PG-...
285     b'{"Title":"Pirates of the Caribbean: At World...
206647  b'{"Title":"Spectre","Year":"2015","Rated":"PG...
49026   b'{"Title":"The Dark Knight Rises","Year":"201...
49529   b'{"Title":"John Carter","Year":"2012","Rated"...

In [79]:
dataframe = pd.read_json(df.iloc[0].values[0])

for i in range(1, len(df)):
    if len(df.iloc[i].values[0]) > 100:
        movie = pd.read_json(df.iloc[i].values[0])
    dataframe = pd.concat([dataframe, movie])

In [80]:
# We decided to drop the useless columns that did not contain information about the movie
# These columns are: - urls (Poster, Website, tomatoImage)
#                    - columns related to the API (Response, Type)
#                    - columns where all entries are NaN

dataframe = dataframe.drop(columns=['Poster', 'Response', 'Type', 'Website', 'tomatoConsensus', 
                                    'tomatoFresh', 'tomatoImage', 'tomatoMeter', 'tomatoRating', 
                                    'tomatoReviews', 'tomatoRotten', 'tomatoURL', 'tomatoUserMeter', 
                                    'tomatoUserRating', 'tomatoUserReviews', 'totalSeasons'])
dataframe.head()

,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,Metascore,Plot,...,Rated,Ratings,Released,Runtime,Title,Writer,Year,imdbID,imdbRating,imdbVotes
0,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Won 3 Oscars. Another 85 wins & 128 nominations.,"$749,700,000","UK, USA",22 Apr 2010,James Cameron,"Action, Adventure, Fantasy, Sci-Fi","English, Spanish",83,A paraplegic marine dispatched to the moon Pan...,...,PG-13,"{'Source': 'Internet Movie Database', 'Value':...",18 Dec 2009,162 min,Avatar,James Cameron,2009,tt0499549,7.8,"1,013,715"
1,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Won 3 Oscars. Another 85 wins & 128 nominations.,"$749,700,000","UK, USA",22 Apr 2010,James Cameron,"Action, Adventure, Fantasy, Sci-Fi","English, Spanish",83,A paraplegic marine dispatched to the moon Pan...,...,PG-13,"{'Source': 'Rotten Tomatoes', 'Value': '82%'}",18 Dec 2009,162 min,Avatar,James Cameron,2009,tt0499549,7.8,"1,013,715"
2,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Won 3 Oscars. Another 85 wins & 128 nominations.,"$749,700,000","UK, USA",22 Apr 2010,James Cameron,"Action, Adventure, Fantasy, Sci-Fi","English, Spanish",83,A paraplegic marine dispatched to the moon Pan...,...,PG-13,"{'Source': 'Metacritic', 'Value': '83/100'}",18 Dec 2009,162 min,Avatar,James Cameron,2009,tt0499549,7.8,"1,013,715"
0,"Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",Nominated for 2 Oscars. Another 20 wins & 44 n...,"$309,404,152",USA,04 Dec 2007,Gore Verbinski,"Action, Adventure, Fantasy",English,50,"Captain Barbossa, Will Turner and Elizabeth Sw...",...,PG-13,"{'Source': 'Internet Movie Database', 'Value':...",25 May 2007,169 min,Pirates of the Caribbean: At World's End,"Ted Elliott, Terry Rossio, Ted Elliott (charac...",2007,tt0449088,7.1,"542,125"
1,"Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",Nominated for 2 Oscars. Another 20 wins & 44 n...,"$309,404,152",USA,04 Dec 2007,Gore Verbinski,"Action, Adventure, Fantasy",English,50,"Captain Barbossa, Will Turner and Elizabeth Sw...",...,PG-13,"{'Source': 'Rotten Tomatoes', 'Value': '44%'}",25 May 2007,169 min,Pirates of the Caribbean: At World's End,"Ted Elliott, Terry Rossio, Ted Elliott (charac...",2007,tt0449088,7.1,"542,125"

We now need to transform the types so that it is easier to analyze the features. As of now, almost all the entries of our dataframe are strings. We have a few entries that are integer numbers that need to be converted: BoxOffice, Metascore, Runtime, Year and imdbVotes.

Metascore and Year are already in an appropriate format, we just need to cast the type. However, BoxOffice, Runtime and imdbVotes need a little bit of tinkering.

In [81]:
# For BoxOffice we need to remove the $ and commas
dataframe['BoxOffice'] = dataframe['BoxOffice'].apply(lambda x: x.replace("$", ""))
dataframe['BoxOffice'] = dataframe['BoxOffice'].apply(lambda x: x.replace(",", ""))
dataframe['BoxOffice'] = dataframe['BoxOffice'].replace('N/A', 0)
dataframe['BoxOffice'] = dataframe['BoxOffice'].astype(float)
dataframe['BoxOffice'] = dataframe['BoxOffice'].astype(int)
# For imdbVotes we need to remove the commas
dataframe['imdbVotes'] = dataframe['imdbVotes'].astype(str)
dataframe['imdbVotes'] = dataframe['imdbVotes'].apply(lambda x: x.replace(",", ""))
dataframe['imdbVotes'] = dataframe['imdbVotes'].replace('N/A', 0)
dataframe['imdbVotes'] = dataframe['imdbVotes'].astype(int)
# For Runtime we need to remove the " min"
dataframe['Runtime'] = dataframe['Runtime'].apply(lambda x: x.replace(" min", ""))
dataframe['Runtime'] = dataframe['Runtime'].replace('N/A', 0)
dataframe['Runtime'] = dataframe['Runtime'].astype(int)
# Metascore
dataframe['Metascore'] = dataframe['Metascore'].replace('N/A', 0)
dataframe['Metascore'] = dataframe['Metascore'].astype(int)
# Year
dataframe['Year'] = dataframe['Year'].astype(str)
dataframe['Year'] = dataframe['Year'].apply(lambda x: x.replace("-1969", ""))
dataframe['Year'] = dataframe['Year'].apply(lambda x: x.replace("–", ""))
dataframe['Year'] = dataframe['Year'].replace('N/A', 0)
dataframe['Year'] = dataframe['Year'].astype(int)

dataframe = dataframe.reset_index(drop=True)

In [82]:
dataframe.head()

,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,Metascore,Plot,...,Rated,Ratings,Released,Runtime,Title,Writer,Year,imdbID,imdbRating,imdbVotes
0,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Won 3 Oscars. Another 85 wins & 128 nominations.,749700000,"UK, USA",22 Apr 2010,James Cameron,"Action, Adventure, Fantasy, Sci-Fi","English, Spanish",83,A paraplegic marine dispatched to the moon Pan...,...,PG-13,"{'Source': 'Internet Movie Database', 'Value':...",18 Dec 2009,162,Avatar,James Cameron,2009,tt0499549,7.8,1013715
1,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Won 3 Oscars. Another 85 wins & 128 nominations.,749700000,"UK, USA",22 Apr 2010,James Cameron,"Action, Adventure, Fantasy, Sci-Fi","English, Spanish",83,A paraplegic marine dispatched to the moon Pan...,...,PG-13,"{'Source': 'Rotten Tomatoes', 'Value': '82%'}",18 Dec 2009,162,Avatar,James Cameron,2009,tt0499549,7.8,1013715
2,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Won 3 Oscars. Another 85 wins & 128 nominations.,749700000,"UK, USA",22 Apr 2010,James Cameron,"Action, Adventure, Fantasy, Sci-Fi","English, Spanish",83,A paraplegic marine dispatched to the moon Pan...,...,PG-13,"{'Source': 'Metacritic', 'Value': '83/100'}",18 Dec 2009,162,Avatar,James Cameron,2009,tt0499549,7.8,1013715
3,"Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",Nominated for 2 Oscars. Another 20 wins & 44 n...,309404152,USA,04 Dec 2007,Gore Verbinski,"Action, Adventure, Fantasy",English,50,"Captain Barbossa, Will Turner and Elizabeth Sw...",...,PG-13,"{'Source': 'Internet Movie Database', 'Value':...",25 May 2007,169,Pirates of the Caribbean: At World's End,"Ted Elliott, Terry Rossio, Ted Elliott (charac...",2007,tt0449088,7.1,542125
4,"Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",Nominated for 2 Oscars. Another 20 wins & 44 n...,309404152,USA,04 Dec 2007,Gore Verbinski,"Action, Adventure, Fantasy",English,50,"Captain Barbossa, Will Turner and Elizabeth Sw...",...,PG-13,"{'Source': 'Rotten Tomatoes', 'Value': '44%'}",25 May 2007,169,Pirates of the Caribbean: At World's End,"Ted Elliott, Terry Rossio, Ted Elliott (charac...",2007,tt0449088,7.1,542125

Now, we need to regroup the different sources of ratings so that the movies are not repeated three times in the dataframe.

- The first rating comes from imdb, its value is on a scale from 0 to 10
- The second rating comes from Rotten Tomatoes, its value is a percentage
- The third rating comes from Metacritic, its value is on a scale from 0 to 100

We wish to separate this column into 3 columns, drop the duplicate rows and convert the ratings to percentages for a more uniform notation.

In [140]:
dataframe_ = dataframe.copy()

In [141]:
# Create columns
dataframe_['imdbGrade'] = 0
dataframe_['tomatoGrade'] = 0
dataframe_['metacriticGrade'] = 0

# Fill columns
for i in range(0, int(len(dataframe)/3)):
    dataframe_['imdbGrade'][3*i] = dataframe_['Ratings'][3*i]['Value']
    dataframe_['tomatoGrade'][3*i] = dataframe_['Ratings'][3*i+1]['Value']
    dataframe_['metacriticGrade'][3*i] = dataframe_['Ratings'][3*i+2]['Value']

# Drop rows
dataframe_ = dataframe_[dataframe_['imdbGrade'] != 0]

In [142]:
dataframe_ = dataframe_.reset_index(drop=True)

In [143]:
# Transform grades
dataframe_['imdbGrade'] = dataframe_['imdbRating']*10
dataframe_ = dataframe_.drop(columns=['imdbRating'])

for i in range(0, len(dataframe_)):
    if '/10' in dataframe_['tomatoGrade'][i]:
        grade_ = dataframe_['tomatoGrade'][i].replace('/10', '').replace('.', '')
        dataframe_['tomatoGrade'][i] = int(grade)
    elif '%' in dataframe_['tomatoGrade'][i]:
        grade = dataframe_['tomatoGrade'][i].replace('%', '')
        dataframe_['tomatoGrade'][i] = int(grade)
    elif '/100' in dataframe_['metacriticGrade'][i]:
        grade = dataframe_['metacriticGrade'][i].replace('/100', '')
        dataframe_['metacriticGrade'][i] = int(grade)
    else:
        grade = float(dataframe_['tomatoGrade'][i])
        if grade > 100:
            grade = grade / 10
        dataframe_['tomatoGrade'][i] = int(grade)

dataframe_['metacriticGrade'] = dataframe_['metacriticGrade'].astype(str)
for i in range(0, len(dataframe_)):
    if '/10' in dataframe_['metacriticGrade'][i]:
        grade_ = dataframe_['metacriticGrade'][i].replace('/10', '').replace('.', '')
        dataframe_['metacriticGrade'][i] = int(grade)
    elif '%' in dataframe_['metacriticGrade'][i]:
        grade = dataframe_['metacriticGrade'][i].replace('%', '')
        dataframe_['metacriticGrade'][i] = int(grade)
    elif '/100' in dataframe_['metacriticGrade'][i]:
        grade = dataframe_['metacriticGrade'][i].replace('/100', '')
        dataframe_['metacriticGrade'][i] = int(grade)
    else:
        grade = float(dataframe_['metacriticGrade'][i])
        if grade > 100:
            grade = grade / 10
        dataframe_['metacriticGrade'][i] = int(grade)

In [144]:
dataframe_['imdbGrade'] = dataframe_['imdbGrade'].astype(int)
dataframe_['tomatoGrade'] = dataframe_['tomatoGrade'].astype(int)
dataframe_['metacriticGrade'] = dataframe_['metacriticGrade'].astype(int)

In [145]:
dataframe_.head()

,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,Metascore,Plot,...,Released,Runtime,Title,Writer,Year,imdbID,imdbVotes,imdbGrade,tomatoGrade,metacriticGrade
0,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",Won 3 Oscars. Another 85 wins & 128 nominations.,749700000,"UK, USA",22 Apr 2010,James Cameron,"Action, Adventure, Fantasy, Sci-Fi","English, Spanish",83,A paraplegic marine dispatched to the moon Pan...,...,18 Dec 2009,162,Avatar,James Cameron,2009,tt0499549,1013715,78,82,15
1,"Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",Nominated for 2 Oscars. Another 20 wins & 44 n...,309404152,USA,04 Dec 2007,Gore Verbinski,"Action, Adventure, Fantasy",English,50,"Captain Barbossa, Will Turner and Elizabeth Sw...",...,25 May 2007,169,Pirates of the Caribbean: At World's End,"Ted Elliott, Terry Rossio, Ted Elliott (charac...",2007,tt0449088,542125,71,44,15
2,"Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...",Won 1 Oscar. Another 7 wins & 32 nominations.,208777731,"UK, USA",09 Feb 2016,Sam Mendes,"Action, Adventure, Thriller","English, Spanish, Italian, German, French",60,A cryptic message from 007's past sends him pi...,...,06 Nov 2015,148,Spectre,"John Logan (screenplay by), Neal Purvis (scree...",2015,tt2379713,343533,68,64,15
3,"Christian Bale, Gary Oldman, Tom Hardy, Joseph...",Nominated for 1 BAFTA Film Award. Another 38 w...,448130642,"UK, USA",03 Dec 2012,Christopher Nolan,"Action, Thriller","English, Arabic",78,Eight years after the Joker's reign of anarchy...,...,20 Jul 2012,164,The Dark Knight Rises,"Jonathan Nolan (screenplay), Christopher Nolan...",2012,tt1345836,1344474,84,87,15
4,"Taylor Kitsch, Lynn Collins, Samantha Morton, ...",2 wins & 8 nominations.,73058679,USA,05 Jun 2012,Andrew Stanton,"Action, Adventure, Sci-Fi",English,51,"Transported to Barsoom, a Civil War vet discov...",...,09 Mar 2012,132,John Carter,"Andrew Stanton (screenplay by), Mark Andrews (...",2012,tt0401729,234717,66,51,15

Now, we need to deal with the string attributes that are in form of a list. We want a set of strings, each string corresponding to an individual characteristic (country, actor, etc).

In order to do so, we split the string at the commas. For the Writer attribute, we decided to remove the specifications and only keep the names of the writers, taking off who wrote the story, screenplay or characters.

In [147]:
dataframe_['Actors'] = dataframe_['Actors'].apply(lambda x: set(x.split(', ')))
dataframe_['Country'] = dataframe_['Country'].apply(lambda x: set(x.split(', ')))
dataframe_['Director'] = dataframe_['Director'].apply(lambda x: set(x.split(', ')))
dataframe_['Genre'] = dataframe_['Genre'].apply(lambda x: set(x.split(', ')))
dataframe_['Language'] = dataframe_['Language'].apply(lambda x: set(x.split(', ')))

In [148]:
dataframe_['Writer'] = dataframe_['Writer'].apply(lambda x: re.sub(" [\(\[].*?[\)\]]", "", x))
dataframe_['Writer'] = dataframe_['Writer'].apply(lambda x: set(x.split(', ')))

In [149]:
dataframe_

,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,Metascore,Plot,...,Released,Runtime,Title,Writer,Year,imdbID,imdbVotes,imdbGrade,tomatoGrade,metacriticGrade
0,"{Sigourney Weaver, Stephen Lang, Sam Worthingt...",Won 3 Oscars. Another 85 wins & 128 nominations.,749700000,"{USA, UK}",22 Apr 2010,{James Cameron},"{Adventure, Fantasy, Sci-Fi, Action}","{English, Spanish}",83,A paraplegic marine dispatched to the moon Pan...,...,18 Dec 2009,162,Avatar,{James Cameron},2009,tt0499549,1013715,78,82,15
1,"{Orlando Bloom, Johnny Depp, Geoffrey Rush, Ke...",Nominated for 2 Oscars. Another 20 wins & 44 n...,309404152,{USA},04 Dec 2007,{Gore Verbinski},"{Adventure, Fantasy, Action}",{English},50,"Captain Barbossa, Will Turner and Elizabeth Sw...",...,25 May 2007,169,Pirates of the Caribbean: At World's End,"{Ted Elliott, Terry Rossio, Stuart Beattie, Ja...",2007,tt0449088,542125,71,44,15
2,"{Daniel Craig, Ralph Fiennes, Christoph Waltz,...",Won 1 Oscar. Another 7 wins & 32 nominations.,208777731,"{USA, UK}",09 Feb 2016,{Sam Mendes},"{Adventure, Action, Thriller}","{Spanish, English, Italian, French, German}",60,A cryptic message from 007's past sends him pi...,...,06 Nov 2015,148,Spectre,"{Jez Butterworth, Robert Wade, John Logan, Nea...",2015,tt2379713,343533,68,64,15
3,"{Joseph Gordon-Levitt, Christian Bale, Gary Ol...",Nominated for 1 BAFTA Film Award. Another 38 w...,448130642,"{USA, UK}",03 Dec 2012,{Christopher Nolan},"{Action, Thriller}","{English, Arabic}",78,Eight years after the Joker's reign of anarchy...,...,20 Jul 2012,164,The Dark Knight Rises,"{Jonathan Nolan, Bob Kane, David S. Goyer, Chr...",2012,tt1345836,1344474,84,87,15
4,"{Willem Dafoe, Samantha Morton, Lynn Collins, ...",2 wins & 8 nominations.,73058679,{USA},05 Jun 2012,{Andrew Stanton},"{Adventure, Sci-Fi, Action}",{English},51,"Transported to Barsoom, a Civil War vet discov...",...,09 Mar 2012,132,John Carter,"{Mark Andrews, Michael Chabon, Edgar Rice Burr...",2012,tt0401729,234717,66,51,15
5,"{Kirsten Dunst, Tobey Maguire, Thomas Haden Ch...",Nominated for 1 BAFTA Film Award. Another 3 wi...,336530303,{USA},30 Oct 2007,{Sam Raimi},"{Adventure, Sci-Fi, Action}","{English, French}",59,A strange black entity from another world bond...,...,04 May 2007,139,Spider-Man 3,"{Stan Lee, Sam Raimi, Alvin Sargent, Steve Dit...",2007,tt0413300,445631,62,63,15
6,"{Donna Murphy, Ron Perlman, Zachary Levi, Mand...",Nominated for 1 Oscar. Another 9 wins & 40 nom...,200803309,{USA},29 Mar 2011,"{Byron Howard, Nathan Greno}","{Fantasy, Family, Adventure, Musical, Comedy, ...",{English},71,The magically long-haired Rapunzel has spent h...,...,24 Nov 2010,100,Tangled,"{Jacob Grimm, Dan Fogelman, Wilhelm Grimm}",2010,tt0398286,353478,78,89,15
7,"{Chris Evans, Chris Hemsworth, Robert Downey J...",7 wins & 45 nominations.,429113729,{USA},02 Oct 2015,{Joss Whedon},"{Adventure, Sci-Fi, Action}","{English, Korean}",66,When Tony Stark and Bruce Banner try to jump-s...,...,01 May 2015,141,Avengers: Age of Ultron,"{Stan Lee, Jack Kirby, Joss Whedon, Joe Simon,...",2015,tt2395427,619549,74,75,15
8,"{Dave Legeno, Daniel Radcliffe, Elarica Johnso...",Nominated for 1 Oscar. Another 8 wins & 35 nom...,301920409,"{USA, UK}",08 Dec 2009,{David Yates},"{Adventure, Family, Fantasy, Mystery}",{English},78,As Harry Potter begins his sixth year at Hogwa...,...,15 Jul 2009,153,Harry Potter and the Half-Blood Prince,"{J.K. Rowling, Steve Kloves}",2009,tt0417741,397592,76,83,15
9,"{Jesse Eisenberg, Henry Cavill, Ben Affleck, A...",14 wins & 30 nominations.,293792936,{USA},19 Jul 2016,{Zack Snyder},"{Adventure, Fantasy, Sci-Fi, Action}",{English},44,Fearing that the actions of Superman are left ...,...,25 Mar 2016,151,Batman v Superman: Dawn of Justice,"{David S. Goyer, Jerry Siegel, Bill Finger, Wi...",2016,tt2975590,553233,65,27,15
10,"{Kate Bosworth, Kevin Spacey, Brandon Routh, J...",Nominated for 1 Oscar. Another 12 wins & 40 no...,200100000,{USA},28 Nov 2006,{Bryan Singer},"{Adventure, Action}","{English, French, German}",72,"Superman reappears after a long absence, but i...",...,28 Jun 2006,154,Superman Returns,"{Bryan Singer, Jerry Siegel, Michael Dougherty...",2006,tt0348150,257381,61,75,15
11,"{Mathieu Amalric, Daniel Craig, Olga Kurylenko...",Nominated for 2 BAFTA Film Awards. Another 4 w...,168400000,"{USA, UK}",24 Mar 2009,{Marc Forster},"{Adventure, Action, Thriller}","{Swiss German, Spanish, English, Italian, Fren...",58,James Bond descends into mystery as he tries t...,...,14 Nov 2008,106,Quantum of Solace,"{Robert Wade, Neal Purvis, Paul Haggis}",2008,tt0830515,369307,66,65,15
12,"{Orlando Bloom, Johnny Depp, Jack Davenport, K...",Won 1 Oscar. Another 42 wins & 53 nominations.,423032628,{USA},05 Dec 2006,{Gore Verbinski},"{Adventure, Fantasy, Action}","{Mandarin, English, Turkish, Greek, French}",53,Jack Sparrow races to recover the heart of Dav...,...,07 Jul 2006,151,Pirates of the Caribbean: Dead Man's Chest,"{Ted Elliott, Terry Rossio, Stuart Beattie, Ja...",2006,tt0383574,597591,73,53,15
13,"{Johnny Depp, Armie Hammer, William Fichtner, ...",Nominated for 2 Oscars. Another 4 wins & 17 no...,89289910,{USA},17 Dec 2013,{Gore Verbinski},"{Adventure, Action, Western}","{English, North American Indian}",37,Native American warrior Tonto recounts the unt...,...,03 Jul 2013,150,The Lone Ranger,"{Ted Elliott, Justin Haythe, Terry Rossio}",2013,tt1210819,205064,64,31,15
14,"{Diane Lane, Henry Cavill, Michael Shannon, Am...",7 wins & 46 nominations.,291021565,"{USA, UK}",12 Nov 2013,{Zack Snyder},"{Adventure, Fantasy, Sci-Fi, Action}",{English},55,"Clark Kent, one of the last of an extinguished...",...,14 Jun 2013,143,Man of Steel,"{Jerry Siegel, David S. Goyer, Joe Shuster, Ch...",2013,tt0770828,629830,71,56,15
15,"{Ben Barnes, Georgie Henley, William Moseley, ...",2 wins & 20 nominations.,141614023,"{Slovenia, USA, Poland, Czech Republic}",02 Dec 2008,{Andrew Adamson},"{Adventure, Family, Action, Fantasy}",{English},62,"The Pevensie siblings return to Narnia, where ...",...,16 May 2008,150,The Chronicles of Narnia: Prince Caspian,"{Stephen McFeely, Christopher Markus, C.S. Lew...",2008,tt0499448,173518,65,67,15
16,"{Chris Evans, Chris Hemsworth, Robert Downey J...",Nominated for 1 Oscar. Another 38 wins & 79 no...,623279547,{USA},25 Sep 2012,{Joss Whedon},"{Adventure, Sci-Fi, Action}","{English, Russian, Hindi}",69,Earth's mightiest heroes must come together an...,...,04 May 2012,143,The Avengers,"{Joss Whedon, Zak Penn}",2012,tt0848228,1136922,81,92,15
17,"{Johnny Depp, Ian McShane, Geoffrey Rush, Pené...",2 wins & 31 nominations.,241063875,"{USA, UK}",18 Oct 2011,{Rob Marshall},"{Adventure, Fantasy, Action}","{English, Spanish}",45,Jack Sparrow and Barbossa embark on a quest to...,...,20 May 2011,136,Pirates of the Caribbean: On Stranger Tides,"{Tim Powers, Terry Rossio, Stuart Beattie, Jay...",2011,tt1298650,436132,66,32,15
18,"{Tommy Lee Jones, Josh Brolin, Will Smith, Jem...",1 win & 13 nominations.,179020854,{USA},30 Nov 2012,{Barry Sonnenfeld},"{Adventure, Comedy, Action, Sci-Fi}","{English, Ukrainian}",58,Agent J travels in time to M.I.B.'s early days...,...,25 May 2012,106,Men in Black 3,"{Lowell Cunningham, Etan Cohen}",2012,tt1409024,299702,68,68,15
19,"{Ian McKellen, Richard Armitage, Martin Freema...",Nominated for 1 Oscar. Another 7 wins & 51 nom...,187747747,"{New Zealand, USA}",24 Mar 2015,{Peter Jackson},"{Adventure, Fantasy}",{English},59,Bilbo and company are forced to engage in a wa...,...,17 Dec 2014,144,The Hobbit: The Battle of the Five Armies,"{Fran Walsh, J.R.R. Tolkien, Guillermo del Tor...",2014,tt2310332,425434,74,59,15
20,"{Emma Stone, Denis Leary, Andrew Garfield, Rhy...",2 wins & 31 nominations.,262030663,{USA},09 Nov 2012,{Marc Webb},"{Adventure, Sci-Fi, Action}",{English},66,After Peter Parker is bitten by a genetically ...,...,03 Jul 2012,136,The Amazing Spider-Man,"{Stan Lee, Alvin Sargent, Steve Kloves, Steve ...",2012,tt0948470,512973,70,72,15
21,"{William Hurt, Russell Crowe, Cate Blanchett, ...",1 win & 14 nominations.,105219735,"{USA, UK}",21 Sep 2010,{Ridley Scott},"{Adventure, Drama, Action, Romance, History}","{English, Ukrainian, French}",53,"In 12th century England, Robin and his band of...",...,14 May 2010,140,Robin Hood,"{Ethan Reiff, Brian Helgeland, Cyrus Voris}",2010,tt0955308,235037,67,43,15
22,"{Ian McKellen, Richard Armitage, Martin Freema...",Nominated for 3 Oscars. Another 16 wins & 86 n...,180443783,"{New Zealand, USA}",08 Apr 2014,{Peter Jackson},"{Adventure, Fantasy}",{English},66,"The dwarves, along with Bilbo Baggins and Gand...",...,13 Dec 2013,161,The Hobbit: The Desolation of Smaug,"{Fran Walsh, J.R.R. Tolkien, Guillermo del Tor...",2013,tt1170358,554493,78,74,15
23,"{Nicole Kidman, Daniel Craig, Ben Walker, Dako...",Won 1 Oscar. Another 6 wins & 32 nominations.,70100000,"{USA, UK}",29 Apr 2008,{Chris Weitz},"{Adventure, Family, Fantasy}","{English, Icelandic, French, Russian}",51,"In a parallel universe, young Lyra Belacqua jo...",...,07 Dec 2007,113,The Golden Compass,"{Chris Weitz, Philip Pullman}",2007,tt0385752,164792,61,42,15
24,"{Naomi Watts, Jack Black, Adrien Brody, Thomas...",Won 3 Oscars. Another 43 wins & 100 nominations.,218100000,"{New Zealand, USA, Germany}",28 Mar 2006,{Peter Jackson},"{Adventure, Drama, Action, Romance}",{English},81,"In 1933 New York, an overly ambitious movie pr...",...,14 Dec 2005,187,King Kong,"{Fran Walsh, Philippa Boyens, Peter Jackson, M...",2005,tt0360717,356947,72,84,15
25,"{Leonardo DiCaprio, Kate Winslet, Kathy Bates,...",Won 11 Oscars. Another 111 wins & 77 nominations.,0,{USA},10 Sep 2012,{James Cameron},"{Drama, Romance}","{English, Swedish}",75,A seventeen-year-old aristocrat falls in love ...,...,19 Dec 1997,194,Titanic,{James Cameron},1997,tt0120338,919766,78,89,15
26,"{Chris Evans, Robert Downey Jr., Sebastian Sta...",16 wins & 65 nominations.,408080554,"{USA, Germany}",13 Sep 2016,"{Anthony Russo, Joe Russo}","{Adventure, Sci-Fi, Action}","{Romanian, Hindi, Xhosa, English, Russian, Ger...",75,Political involvement in the Avengers' activit...,...,06 May 2016,147,Captain America: Civil War,"{Stephen McFeely, Christopher Markus, Jack Kir...",2016,tt3498820,538908,78,91,15
27,"{Brooklyn Decker, Rihanna, Alexander Skarsgård...",4 wins & 15 nominations.,65173160,{USA},28 Aug 2012,{Peter Berg},"{Adventure, Sci-Fi, Action, Thriller}","{English, Japanese}",41,A fleet of ships is forced to do battle with a...,...,18 May 2012,131,Battleship,"{Erich Hoeber, Jon Hoeber}",2012,tt1440129,222672,58,34,15
28,"{Vincent D'Onofrio, Irrfan Khan, Chris Pratt, ...",14 wins & 57 nominations.,528757749,{USA},20 Oct 2015,{Colin Trevorrow},"{Adventure, Sci-Fi, Action}",{English},59,"A new theme park, built on the original site o...",...,12 Jun 2015,124,Jurassic World,"{Rick Jaffa, Colin Trevorrow, Amanda Silver, D...",2015,tt0369610,520799,70,71,15
29,"{Daniel Craig, Ralph Fiennes, Javier Bardem, J...",Won 2 Oscars. Another 65 wins & 119 nominations.,299300000,"{USA, UK}",11 Mar 2013,{Sam Mendes},"{Adventure, Action, Thriller}","{English, Turkish}",81,Bond's loyalty to M is tested when her past co...,...,09 Nov 2012,143,Skyfall,"{Robert Wade, Ian Fleming, John Logan, Neal Pu...",2012,tt1074638,579762,78,92,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,"{Brenton Thwaites, Patrick Davidson, Beau Knap...",1 win & 3 nominations.,402321,{USA},23 Sep 2014,{William Eubank},"{Sci-Fi, Thriller}",{English},54,"On a road trip, Nic and two friends are drawn ...",...,10 Jul 2014,97,The Signal,"{William Eubank, David Frigerio, Carlyle Eubank}",2014,tt2910814,57186,61,40,60
4362,"{Demetrius Grosse, Christy Lighthouse, Tom Plu...",8 wins & 4 nominations.,0,{USA},10 Sep 2013,{Chad Hartigan},{Drama},{English},71,Martin Bonner has just moved to Nevada from th...,...,20 Jan 2013,83,This Is Martin Bonner,"{Chad Hartigan, Tara Everhart}",2013,tt1798291,819,65,40,60
4363,"{Damian Jewan Lee, Curtis Cotton III, Candace ...",9 wins & 15 nominations.,0,{USA},12 Mar 2002,{David Gordon Green},{Drama},{English},82,"A group of children, in a depressed small town...",...,28 Sep 2001,89,George Washington,{David Gordon Green},2000,tt0262432,7085,74,84,60
4364,"{Heather Moudy, Derick Martini, Steven Martini...",2 wins.,0,{USA},21 Aug 2001,{Kevin Jordan},"{Comedy, Romance}",{English},44,Two brothers share a house in LA's Fairfax dis...,...,10 Mar 2000,90,Smiling Fish & Goat on Fire,"{Kevin Jordan, Steven Martini, Derick Martini}",1999,tt0162348,2639,75,53,60
4365,"{Barry Corbin, Kurt Cole, Johnny Walter, Brook...",4 wins & 3 nominations.,0,{USA},28 Jul 2015,{Kirk Loudon},"{Drama, Sci-Fi, Thriller}",{English},0,A group of college students travel to a small ...,...,01 Apr 2014,95,Dawn of the Crescent Moon,"{Kevin B. Coleman, Kirk Loudon}",2014,tt3157318,40,51,53,60
4366,"{Garth Hudson, Levon Helm, The Band, Rick Danko}",2 wins & 3 nominations.,0,{USA},07 May 2002,{Martin Scorsese},"{Music, Documentary}","{English, Middle English}",88,A film account and presentation of the final c...,...,26 Apr 1978,117,The Last Waltz,{Mardik Martin},1978,tt0077838,14277,82,53,60
4367,"{Zoe Kazan, Hunter Canning, Mark Rendall, Mary...",2 wins & 4 nominations.,0,{USA},01 Jul 2010,{Bradley Rust Gray},{Drama},{English},69,"On a summer break from college, a young epilep...",...,06 May 2010,79,The Exploding Girl,{Bradley Rust Gray},2009,tt1294161,1633,63,75,60
4368,"{Dave Koenig, Julie Patterson, Robert Bones, K...",N/A,77175,{USA},09 Sep 2008,{Mike Bruce},{Western},{English},0,A gun-slinging preacher returns to the debauch...,...,25 Aug 2007,78,The Legend of God's Gun,"{Kirpatrick Thomas, Mike Bruce}",2007,tt1073221,147,41,75,85
4369,"{Andrew Bujalski, Justin Rice, Rachel Clift, S...",2 wins & 2 nominations.,0,{USA},13 Feb 2007,{Andrew Bujalski},{Comedy},{English},84,Alan is a musician who leaves a busted-up band...,...,04 May 2007,109,Mutual Appreciation,{Andrew Bujalski},2005,tt0446747,1582,69,75,85
4370,"{Robin Hill, Robert Hill, David Schaal, Julia ...",3 wins & 4 nominations.,9609,{UK},18 Jan 2011,{Ben Wheatley},"{Drama, Crime}",{English},68,A crime family looks to unmask the police info...,...,15 Oct 2010,89,Down Terrace,"{Ben Wheatley, Robin Hill}",2009,tt1489167,3115,65,75,85
4371,"{Brian O'Halloran, Jeff Anderson, Marilyn Ghig...",5 wins & 10 nominations.,0,{USA},29 Jun 1999,{Kevin Smith},{Comedy},{English},70,A day in the lives of two convenience clerks n...,...,09 Nov 1994,92,Clerks,{Kevin Smith},1994,tt0109445,198017,78,75,85
4372,"{Kate Dollenmayer, Jennifer L. Schaper, Mark H...",2 wins & 3 nominations.,0,{USA},16 Aug 2005,{Andrew Bujalski},"{Drama, Comedy, Romance}",{English},78,"Marnie just graduated from college, drinks lik...",...,19 Apr 2007,89,Funny Ha Ha,{Andrew Bujalski},2002,tt0327753,2149,64,87,85
4373,"{Stacy Edwards, Matt Malloy, Michael Martin, A...",14 wins & 12 nominations.,0,"{USA, Canada}",17 Mar 1998,{Neil LaBute},"{Drama, Comedy}","{English, American Sign Language}",81,Two business executives--one an avowed misogyn...,...,01 Aug 1997,97,In the Company of Men,{Neil LaBute},1997,tt0119361,12270,72,89,85
4374,"{Franky G, Manuel Cabral, Jessica Morales, Leo...",8 wins & 6 nominations.,0,{USA},01 Jan 2005,{Eric Eason},"{Family, Drama}",{English},71,"Fifteen years ago, their Washington Heights ne...",...,15 Jan 2002,78,Manito,{Eric Eason},2002,tt0298050,524,68,94,85
4375,"{Naomie Harris, Jeffrey Dean Morgan, Malin Ake...",N/A,0,{USA},26 Jun 2018,{Brad Peyton},"{Adventure, Sci-Fi, Action}","{English, American Sign Language}",45,When three different animals become infected w...,...,13 Apr 2018,107,Rampage,"{Ryan Engle, Carlton Cuse, Adam Sztykiel, Ryan...",2018,tt2231461,93530,62,52,85
4376,"{Rudy Basquez, Jan Hockey, Jean Caffeine, Rich...",1 win & 3 nominations.,0,{USA},14 Sep 2004,{Richard Linklater},"{Drama, Comedy}",{English},69,"A day in the life of Austin, Texas as the came...",...,05 Jul 1991,97,Slacker,{Richard Linklater},1990,tt0102943,17386,71,86,85
4377,"{Celestine Rae, Tama Filianga, Mikaal Bates, R...",N/A,0,{USA},N/A,{Joseph Mazzella},"{Drama, Crime, Thriller}",{English},0,A desperate ex-con is forced to gather his old...,...,02 Oct 2015,90,Dutch Kills,"{Joseph Mazzella, Tama Filianga, R.L. Mann}",2015,tt2759066,66,51,86,85
4378,"{Rhett Wilkins, Mark Duplass, Julie Fischer, K...",3 wins & 3 nominations.,0,{USA},01 Jan 1998,"{Jay Duplass, Mark Duplass}","{Drama, Comedy, Romance}",{English},73,Josh Sagers drives cross-country on a mission ...,...,27 Apr 2007,85,The Puffy Chair,"{Jay Duplass, Mark Duplass}",2005,tt0436689,4544,66,86,85
4379,"{Andrea Martin, Julie White, Daryl Wein, Zoe L...",1 nomination.,0,{USA},12 Oct 2010,{Daryl Wein},{Romance},{English},56,A young New York couple intricately strategize...,...,14 Mar 2009,88,Breaking Upwards,"{Zoe Lister-Jones, Daryl Wein, Peter Duchan}",2009,tt1247644,1251,62,60,85
4380,"{Jason Trost, James Remar, Lucas Till, Sophie ...",N/A,0,{USA},29 Jan 2013,{Jason Trost},"{Sci-Fi, Thriller}",{English},0,Four Super Heroes find themselves abducted by ...,...,04 Jan 2013,78,All Superheroes Must Die,{Jason Trost},2011,tt1836212,1903,40,60,80
4381,"{Béatrice Dalle, Nick Nolte, Maggie Cheung, Je...",2 wins & 8 nominations.,0,"{France, Canada, UK}",18 Jul 2006,{Olivier Assayas},"{Drama, Romance, Music}","{English, French, Cantonese}",75,London-based Emily Wang gained minor notoriety...,...,01 Sep 2004,90,Clean,{Olivier Assayas},2004,tt0388838,4192,69,72,80
4382,"{Emma Watson, Glenne Headly, Ellar Coltrane, B...",1 win & 1 nomination.,20476300,"{USA, United Arab Emirates}",01 Aug 2017,{James Ponsoldt},"{Drama, Sci-Fi, Thriller}",{English},43,A woman lands a dream job at a powerful tech c...,...,28 Apr 2017,110,The Circle,"{Dave Eggers, James Ponsoldt}",2017,tt4287320,68674,53,15,80
4383,"{Kreeta Taponen, Emma Eliza Regan, Michael Par...",2 wins.,0,{Ireland},22 Apr 2014,{Ivan Kavanagh},{Horror},{English},0,Recently dumped by his girlfriend for another ...,...,01 Mar 2012,83,Tin Can Man,{Ivan Kavanagh},2007,tt1235811,72,65,15,92
4384,"{Masato Hagiwara, Kôji Yakusho, Tsuyoshi Ujiki...",9 wins & 2 nominations.,0,{Japan},06 Jan 2004,{Kiyoshi Kurosawa},"{Mystery, Crime, Horror}","{Japanese, Spanish}",70,A frustrated detective deals with the case of ...,...,08 Jul 2001,111,Cure,{Kiyoshi Kurosawa},1997,tt0123948,8036,74,15,92
4385,"{Michael Newland, Erik Schrody, Peter Greene, ...",1 nomination.,0,{USA},21 Nov 2006,{Ash Baron-Cohen},"{Drama, Crime}",{English},0,A young woman in L.A. is having a bad day: she...,...,01 Nov 1997,98,Bang,{Ash Baron-Cohen},1995,tt0109266,445,64,15,72
4386,"{Anand Upadhyaya, Casey Gooden, Shane Carruth,...",3 wins & 7 nominations.,392420,{USA},05 Apr 2005,{Shane Carruth},"{Drama, Sci-Fi, Thriller}","{English, French}",68,"Four friends/fledgling entrepreneurs, knowing ...",...,27 May 2005,77,Primer,{Shane Carruth},2004,tt0390384,87361,69,15,73
4387,"{Edgar Tancangco, Norma Tancangco, Ian Gamazon...",4 wins & 1 nomination.,0,"{USA, Philippines}",08 Aug 2006,"{Neill Dela Llana, Ian Gamazon}",{Thriller},"{English, Tagalog, Filipino}",64,"Flying back to his home country, an American m...",...,12 Mar 2005,80,Cavite,"{Neill Dela Llana, Ian Gamazon}",2005,tt0428303,596,63,15,93
4388,"{Jaime de Hoyos, Carlos Gallardo, Consuelo Góm...",7 wins & 4 nominations.,0,"{USA, Mexico}",26 Aug 2003,{Robert Rodriguez},"{Action, Crime, Thriller}",{Spanish},73,A traveling mariachi is mistaken for a murdero...,...,26 Feb 1993,81,El Mariachi,{Robert Rodriguez},1992,tt0104815,57655,69,15,70
4389,"{Kristin Booth, Eric Mabius, Crystal Lowe, Geo...",1 nomination.,0,"{USA, Canada}",N/A,{N/A},"{Mystery, Drama, Comedy}",{English},0,A group of postal detectives work to solve the...,...,20 Apr 2014,43,"Signed, Sealed, Delivered",{Martha Williamson},2014,tt3592718,1436,74,15,53

In [150]:
dataframe_.to_pickle("df.pkl")

In [200]:
dataframe_ = pd.read_pickle("df.pkl")

Now, we deal with the Production company. We have observed that a same company has different names within this dataset, sometimes the names diferring only by a space or an add-on (like "distribution"). We want to uniformize this.

In [205]:
dataframe_['Production'] = dataframe_['Production'].str.replace('-', ' ')
dataframe_['Production'] = dataframe_['Production'].str.replace(' / ', '/')
dataframe_['Production'] = dataframe_['Production'].str.replace(' /', '/')
dataframe_['Production'] = dataframe_['Production'].str.replace('/ ', '/')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Corporation', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Distribution', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Corporat', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Production', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Films', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Film', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Pictures', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Picutres', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Internationa', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' International', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Industries', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Compa', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Co', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Distribu', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Studios', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Animation', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Feature', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' SKG', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' LLC', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Recommends', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Digital', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Media', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Video', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Inc', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Home Entertainment', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Entertainment', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Lorber', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Releasing', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Cinema.', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Cinema', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Classics', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Classic', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Group', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Europacorp', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Pvt. Ltd.', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Ventures', '')
dataframe_['Production'] = dataframe_['Production'].str.replace('DreamWorks', 'Dreamworks')
dataframe_['Production'] = dataframe_['Production'].str.replace('Dream Works', 'Dreamworks')
dataframe_['Production'] = dataframe_['Production'].str.replace("Lion's Gate", 'Lionsgate')
dataframe_['Production'] = dataframe_['Production'].str.replace("Liongate", 'Lionsgate')
dataframe_['Production'] = dataframe_['Production'].str.replace("Lions Gate", 'Lionsgate')
dataframe_['Production'] = dataframe_['Production'].str.replace("LionsGate", 'Lionsgate')
dataframe_['Production'] = dataframe_['Production'].str.replace('Metro Goldwyn Mayer (MGM)', 'MGM')
dataframe_['Production'] = dataframe_['Production'].str.replace('Metro Goldwyn Mayer', 'MGM')
dataframe_['Production'] = dataframe_['Production'].str.replace('WARNER BROTHERS PICTURES', 'Warner Bros')
dataframe_['Production'] = dataframe_['Production'].str.replace('WB', 'Warner Bros')
dataframe_['Production'] = dataframe_['Production'].str.replace('Weinsteinny', 'Weinstein')
dataframe_['Production'] = dataframe_['Production'].str.replace('Warner Brothers', 'Warner Bros')
dataframe_['Production'] = dataframe_['Production'].str.replace('Warner Home', 'Warner Bros')
dataframe_['Production'] = dataframe_['Production'].str.replace('Warner Independent', 'Warner Bros')
dataframe_['Production'] = dataframe_['Production'].str.replace('PIXAR', 'Pixar')
dataframe_['Production'] = dataframe_['Production'].str.replace(' [us]', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Pictur', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Home', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Focus', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' City', '')
dataframe_['Production'] = dataframe_['Production'].str.replace('Warners Bros', 'Warner Bros')
dataframe_['Production'] = dataframe_['Production'].str.replace('Universall', 'Universal')
dataframe_['Production'] = dataframe_['Production'].str.replace('The Weinstein', 'Weinstein')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Vantage', 'Weinstein')
dataframe_['Production'] = dataframe_['Production'].str.replace('/lumbia', '/ Columbia')
dataframe_['Production'] = dataframe_['Production'].str.replace('MGM (MGM)', 'MGM')
dataframe_['Production'] = dataframe_['Production'].str.replace(' First Take', '/ Columbia')
dataframe_['Production'] = dataframe_['Production'].str.replace('Goodbye Cruel', 'Goodbye Cruel World')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Atomic', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Faith', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Searchlight', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Walden', '')
dataframe_['Production'] = dataframe_['Production'].str.replace('FoxFaith', 'Fox')
dataframe_['Production'] = dataframe_['Production'].str.replace('Fine Line', 'Fine Lines')
dataframe_['Production'] = dataframe_['Production'].str.replace('Erosl', 'Eros')
dataframe_['Production'] = dataframe_['Production'].str.replace('Walt Disneys', 'Disney')
dataframe_['Production'] = dataframe_['Production'].str.replace('Walt Disney', 'Disney')
dataframe_['Production'] = dataframe_['Production'].str.replace('.', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' TriStarl', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' TriStar', '')
dataframe_['Production'] = dataframe_['Production'].str.replace(' Tristar', '')

In [207]:
dataframe_['Production'] = dataframe_['Production'].apply(lambda x: set(x.split('/')))

In [211]:
dataframe_.to_pickle("df.pkl")

Now, we deal with the plot. For this NLP task, we will keep it simple. We only kept the words that are not determinants or adverbs and store them as a set of separate words.

In [212]:
dataframe_ = pd.read_pickle("df.pkl")

In [261]:
common_words = [' a', ' the', ' his', ' her', ' hers', ' on', ' to', ' and', ' is', ' was', 
                ' be', ' must', ' of', ' for', ' one', ' theirs', ' their', ' our', ' they', ' off', ' from',
                ' him', " it's", ' it', ' its', ' in', ' most', ' after', ' with', ' by', ' herself', 
                ' himself', ' only', ' as', ' has', ' but', ' that', ' he', ' she', ' about', ' who', 
                ' where', ' go', "'s", ' at', ' more', ' takes', ' take', ' what', ' after', ' into', " weren't",
                ' own', ' when', ' by', ' an', 'A ', 'The ', 'One ', ' once', ' off', ' if', ' too', ' are', 
                ' were', ' had', ' out', ' will', ' which', ' back', ' comes', ' come', ' under', ' down', 
                ' how', ' those', ' these', ' between', ' during', ",", '.', "'", 'On ']

In [265]:
for word in common_words:
    dataframe_['Plot'] = dataframe_['Plot'].str.replace(word, '')
dataframe_['Plot'] = dataframe_['Plot'].apply(lambda x: set(x.split(' ')))

In [266]:
dataframe_['Plot']

0       {ordersnd, unique, protecting, world, feels, p...
1       {makeir, navigate, sailf, Will, Turnernd, find...
2       {007, cryptic, organization, previous, mission...
3       {save, City, Gotham, enigmatic, brutal, Catwom...
4       {barren, Transported, princess, barbarians, ne...
5       {world, black, temptationsnd, villains, new, t...
6       {world, first, lifewer, timend, really, discov...
7       {Banner, called, When, dormant, stop, jump-sta...
8       {sixth, Pottergins, dark, past, Voldemort, Pri...
9       {while, world, Fearingctions, Batman, Steel, r...
10      {world, foe, Kryptonian, reappearsfter, old, u...
11      {stop, organization, James, resource, mysterys...
12      {Jones, Sparrow, foes, friendsnd, Jonesvoid, s...
13      {legend, Tonto, recounts, justice, lawto, warr...
14      {Clark, survivors, brink, destruction, humance...
15      {enlistedcegainlp, land, throne, kingnd, Caspi...
16      {fights, stop, learn, mightiestoesgethernd, te...
17      {Blackbeardnd, discover, daughterreftero, foun...
18      {changingtory, Knd, early, travels, stopnliens...
19      {Bilbond, rising, wargainstnrray, combatantsnd...
20      {death, parent, newfound, ventures, solve, Aft...
21      {world, Robinnd, England, corruption, In, vill...
22      {ring, Bagginsnd, Gandalf, reclaim, homeland, ...
23      {young, Lyra, North, children, organization, j...
24      {travel, movie, overlymbitious, producer, New,...
25      {seventeen-year-oldristocrat, ill-fated, Titan...
26      {Captain, rifttween, Politicalvolvement, Ameri...
27      {fleet, battlenrmada, order, origins, do, dest...
28      {Park, newme, spree, Jurassic, modified, Indom...
29      {007, tracknd, personal, no, MI6ttack, cost, M...
                              ...
4361    {Nic, dark, road, When, -ly, suddenlyes, regai...
4362    {Nevada, building, leavinghind, East, twodult,...
4363    {tragic, children, depressed, mistakee, up, co...
4364    {, house, relationships, Asse, Chrisnccountant...
4365    {horrible, Texaswn, folktaleged, small, Comanc...
4366    {concert, Band, filmccountnd, final, presentat...
4367    {while, Al, young, woman, break, fledgling, fr...
4368    {, returns, Sobero, El, scorpion-venom, reveng...
4369    {leaves, musical, girlfriend, manner, band, ne...
4370    {family, threatensir, crime, unmask, business,...
4371    {hockey, store, Dantend, customers, roof, disc...
4372    {, She, drinks, doesnt, (?), schoolnd, college...
4373    {Two, exact, life, gender, revenge, misogynist...
4374    {transformingtoe, , capital, worldday, vibrant...
4375    {differentnimalscomefected, destroying, pathog...
4376    {lookt, overeducated, roams, provides, misfits...
4377    {criminal, payf, old, crewe, ex-conced, desper...
4378    {gift, drives, giant, birthday, cross-country,...
4379    {young, break, up, coupletricately, strategize...
4380    {order, Heroes, findmselvesbductedir, kidnappe...
4381    {Hauser, longtime, rock, pseudo, now, She, Lon...
4382    {jobt, powerful, woman, lands, Circlely, uncov...
4383    {hates, door, working, things, night, girlfrie...
4384    {no, case, murders, detective, have, committed...
4385    {, Lhaving, nabs, partnd, didnt, furious, prod...
4386    {friends/fledgling, devicesyve, something, big...
4387    {haveen, certain, doesnt, home, American, kill...
4388    {traveling, criminalnd, mariachi, mistaken, ga...
4389    {solve, postal, work, packages, undeliverable,...
4390    {legal, career, Shanghai, learnsppreciate, mes...
Name: Plot, Length: 4391, dtype: object

In [267]:
dataframe_.to_pickle("df.pkl")

In [268]:
dataframe_

,Actors,Awards,BoxOffice,Country,DVD,Director,Genre,Language,Metascore,Plot,...,Released,Runtime,Title,Writer,Year,imdbID,imdbVotes,imdbGrade,tomatoGrade,metacriticGrade
0,"{Sigourney Weaver, Stephen Lang, Sam Worthingt...",Won 3 Oscars. Another 85 wins & 128 nominations.,749700000,"{USA, UK}",22 Apr 2010,{James Cameron},"{Adventure, Fantasy, Sci-Fi, Action}","{English, Spanish}",83,"{ordersnd, unique, protecting, world, feels, p...",...,18 Dec 2009,162,Avatar,{James Cameron},2009,tt0499549,1013715,78,82,15
1,"{Orlando Bloom, Johnny Depp, Geoffrey Rush, Ke...",Nominated for 2 Oscars. Another 20 wins & 44 n...,309404152,{USA},04 Dec 2007,{Gore Verbinski},"{Adventure, Fantasy, Action}",{English},50,"{makeir, navigate, sailf, Will, Turnernd, find...",...,25 May 2007,169,Pirates of the Caribbean: At World's End,"{Ted Elliott, Terry Rossio, Stuart Beattie, Ja...",2007,tt0449088,542125,71,44,15
2,"{Daniel Craig, Ralph Fiennes, Christoph Waltz,...",Won 1 Oscar. Another 7 wins & 32 nominations.,208777731,"{USA, UK}",09 Feb 2016,{Sam Mendes},"{Adventure, Action, Thriller}","{Spanish, English, Italian, French, German}",60,"{007, cryptic, organization, previous, mission...",...,06 Nov 2015,148,Spectre,"{Jez Butterworth, Robert Wade, John Logan, Nea...",2015,tt2379713,343533,68,64,15
3,"{Christian Bale, Gary Oldman, Tom Hardy, Josep...",Nominated for 1 BAFTA Film Award. Another 38 w...,448130642,"{USA, UK}",03 Dec 2012,{Christopher Nolan},"{Action, Thriller}","{English, Arabic}",78,"{save, City, Gotham, enigmatic, brutal, Catwom...",...,20 Jul 2012,164,The Dark Knight Rises,"{Jonathan Nolan, David S. Goyer, Bob Kane, Chr...",2012,tt1345836,1344474,84,87,15
4,"{Willem Dafoe, Samantha Morton, Lynn Collins, ...",2 wins & 8 nominations.,73058679,{USA},05 Jun 2012,{Andrew Stanton},"{Adventure, Sci-Fi, Action}",{English},51,"{barren, Transported, princess, barbarians, ne...",...,09 Mar 2012,132,John Carter,"{Mark Andrews, Michael Chabon, Edgar Rice Burr...",2012,tt0401729,234717,66,51,15
5,"{Kirsten Dunst, Tobey Maguire, Thomas Haden Ch...",Nominated for 1 BAFTA Film Award. Another 3 wi...,336530303,{USA},30 Oct 2007,{Sam Raimi},"{Adventure, Sci-Fi, Action}","{English, French}",59,"{world, black, temptationsnd, villains, new, t...",...,04 May 2007,139,Spider-Man 3,"{Stan Lee, Sam Raimi, Alvin Sargent, Steve Dit...",2007,tt0413300,445631,62,63,15
6,"{Donna Murphy, Ron Perlman, Zachary Levi, Mand...",Nominated for 1 Oscar. Another 9 wins & 40 nom...,200803309,{USA},29 Mar 2011,"{Byron Howard, Nathan Greno}","{Fantasy, Family, Adventure, Musical, Comedy, ...",{English},71,"{world, first, lifewer, timend, really, discov...",...,24 Nov 2010,100,Tangled,"{Jacob Grimm, Dan Fogelman, Wilhelm Grimm}",2010,tt0398286,353478,78,89,15
7,"{Chris Evans, Chris Hemsworth, Robert Downey J...",7 wins & 45 nominations.,429113729,{USA},02 Oct 2015,{Joss Whedon},"{Adventure, Sci-Fi, Action}","{English, Korean}",66,"{Banner, called, When, dormant, stop, jump-sta...",...,01 May 2015,141,Avengers: Age of Ultron,"{Stan Lee, Jack Kirby, Joss Whedon, Joe Simon,...",2015,tt2395427,619549,74,75,15
8,"{Dave Legeno, Daniel Radcliffe, Elarica Johnso...",Nominated for 1 Oscar. Another 8 wins & 35 nom...,301920409,"{USA, UK}",08 Dec 2009,{David Yates},"{Adventure, Family, Fantasy, Mystery}",{English},78,"{sixth, Pottergins, dark, past, Voldemort, Pri...",...,15 Jul 2009,153,Harry Potter and the Half-Blood Prince,"{J.K. Rowling, Steve Kloves}",2009,tt0417741,397592,76,83,15
9,"{Jesse Eisenberg, Henry Cavill, Ben Affleck, A...",14 wins & 30 nominations.,293792936,{USA},19 Jul 2016,{Zack Snyder},"{Adventure, Fantasy, Sci-Fi, Action}",{English},44,"{while, world, Fearingctions, Batman, Steel, r...",...,25 Mar 2016,151,Batman v Superman: Dawn of Justice,"{David S. Goyer, Bill Finger, William Moulton ...",2016,tt2975590,553233,65,27,15
10,"{Kate Bosworth, Kevin Spacey, Brandon Routh, J...",Nominated for 1 Oscar. Another 12 wins & 40 no...,200100000,{USA},28 Nov 2006,{Bryan Singer},"{Adventure, Action}","{English, French, German}",72,"{world, foe, Kryptonian, reappearsfter, old, u...",...,28 Jun 2006,154,Superman Returns,"{Bryan Singer, Jerry Siegel, Michael Dougherty...",2006,tt0348150,257381,61,75,15
11,"{Daniel Craig, Mathieu Amalric, Olga Kurylenko...",Nominated for 2 BAFTA Film Awards. Another 4 w...,168400000,"{USA, UK}",24 Mar 2009,{Marc Forster},"{Adventure, Action, Thriller}","{Swiss German, Spanish, English, Italian, Fren...",58,"{stop, organization, James, resource, mysterys...",...,14 Nov 2008,106,Quantum of Solace,"{Robert Wade, Neal Purvis, Paul Haggis}",2008,tt0830515,369307,66,65,15
12,"{Orlando Bloom, Johnny Depp, Jack Davenport, K...",Won 1 Oscar. Another 42 wins & 53 nominations.,423032628,{USA},05 Dec 2006,{Gore Verbinski},"{Adventure, Fantasy, Action}","{Mandarin, English, Turkish, Greek, French}",53,"{Jones, Sparrow, foes, friendsnd, Jonesvoid, s...",...,07 Jul 2006,151,Pirates of the Caribbean: Dead Man's Chest,"{Ted Elliott, Terry Rossio, Stuart Beattie, Ja...",2006,tt0383574,597591,73,53,15
13,"{Johnny Depp, Armie Hammer, William Fichtner, ...",Nominated for 2 Oscars. Another 4 wins & 17 no...,89289910,{USA},17 Dec 2013,{Gore Verbinski},"{Adventure, Action, Western}","{English, North American Indian}",37,"{legend, Tonto, recounts, justice, lawto, warr...",...,03 Jul 2013,150,The Lone Ranger,"{Ted Elliott, Justin Haythe, Terry Rossio}",2013,tt1210819,205064,64,31,15
14,"{Henry Cavill, Michael Shannon, Diane Lane, Am...",7 wins & 46 nominations.,291021565,"{USA, UK}",12 Nov 2013,{Zack Snyder},"{Adventure, Fantasy, Sci-Fi, Action}",{English},55,"{Clark, survivors, brink, destruction, humance...",...,14 Jun 2013,143,Man of Steel,"{Jerry Siegel, David S. Goyer, Joe Shuster, Ch...",2013,tt0770828,629830,71,56,15
15,"{Ben Barnes, Georgie Henley, William Moseley, ...",2 wins & 20 nominations.,141614023,"{Slovenia, USA, Poland, Czech Republic}",02 Dec 2008,{Andrew Adamson},"{Adventure, Family, Action, Fantasy}",{English},62,"{enlistedcegainlp, land, throne, kingnd, Caspi...",...,16 May 2008,150,The Chronicles of Narnia: Prince Caspian,"{Stephen McFeely, Christopher Markus, C.S. Lew...",2008,tt0499448,173518,65,67,15
16,"{Chris Evans, Chris Hemsworth, Robert Downey J...",Nominated for 1 Oscar. Another 38 wins & 79 no...,623279547,{USA},25 Sep 2012,{Joss Whedon},"{Adventure, Sci-Fi, Action}","{English, Russian, Hindi}",69,"{fights, stop, learn, mightiestoesgethernd, te...",...,04 May 2012,143,The Avengers,"{Joss Whedon, Zak Penn}",2012,tt0848228,1136922,81,92,15
17,"{Johnny Depp, Ian McShane, Geoffrey Rush, Pené...",2 wins & 31 nominations.,241063875,"{USA, UK}",18 Oct 2011,{Rob Marshall},"{Adventure, Fantasy, Action}","{English, Spanish}",45,"{Blackbeardnd, discover, daughterreftero, foun...",...,20 May 2011,136,Pirates of the Caribbean: On Stranger Tides,"{Tim Powers, Terry Rossio, Stuart Beattie, Jay...",2011,tt1298650,436132,66,32,15
18,"{Tommy Lee Jones, Josh Brolin, Will Smith, Jem...",1 win & 13 nominations.,179020854,{USA},30 Nov 2012,{Barry Sonnenfeld},"{Adventure, Comedy, Action, Sci-Fi}","{English, Ukrainian}",58,"{changingtory, Knd, early, travels, stopnliens...",...,25 May 2012,106,Men in Black 3,"{Lowell Cunningham, Etan Cohen}",2012,tt1409024,299702,68,68,15
19,"{Ian McKellen, Richard Armitage, Martin Freema...",Nominated for 1 Oscar. Another 7 wins & 51 nom...,187747747,"{New Zealand, USA}",24 Mar 2015,{Peter Jackson},"{Adventure, Fantasy}",{English},59,"{Bilbond, rising, wargainstnrray, combatantsnd...",...,17 Dec 2014,144,The Hobbit: The Battle of the Five Armies,"{Fran Walsh, J.R.R. Tolkien, Guillermo del Tor...",2014,tt2310332,425434,74,59,15
20,"{Emma Stone, Denis Leary, Andrew Garfield, Rhy...",2 wins & 31 nominations.,262030663,{USA},09 Nov 2012,{Marc Webb},"{Adventure, Sci-Fi, Action}",{English},66,"{death, parent, newfound, ventures, solve, Aft...",...,03 Jul 2012,136,The Amazing Spider-Man,"{Stan Lee, Alvin Sargent, Steve Kloves, Steve ...",2012,tt0948470,512973,70,72,15
21,"{William Hurt, Russell Crowe, Cate Blanchett, ...",1 win & 14 nominations.,105219735,"{USA, UK}",21 Sep 2010,{Ridley Scott},"{Adventure, Drama, Action, Romance, History}","{English, Ukrainian, French}",53,"{world, Robinnd, England, corruption, In, vill...",...,14 May 2010,140,Robin Hood,"{Ethan Reiff, Brian Helgeland, Cyrus Voris}",2010,tt0955308,235037,67,43,15
22,"{Ian McKellen, Richard Armitage, Martin Freema...",Nominated for 3 Oscars. Another 16 wins & 86 n...,180443783,"{New Zealand, USA}",08 Apr 2014,{Peter Jackson},"{Adventure, Fantasy}",{English},66,"{ring, Bagginsnd, Gandalf, reclaim, homeland, ...",...,13 Dec 2013,161,The Hobbit: The Desolation of Smaug,"{Fran Walsh, J.R.R. Tolkien, Guillermo del Tor...",2013,tt1170358,554493,78,74,15
23,"{Nicole Kidman, Daniel Craig, Ben Walker, Dako...",Won 1 Oscar. Another 6 wins & 32 nominations.,70100000,"{USA, UK}",29 Apr 2008,{Chris Weitz},"{Adventure, Family, Fantasy}","{English, Icelandic, French, Russian}",51,"{young, Lyra, North, children, organization, j...",...,07 Dec 2007,113,The Golden Compass,"{Chris Weitz, Philip Pullman}",2007,tt0385752,164792,61,42,15
24,"{Naomi Watts, Jack Black, Adrien Brody, Thomas...",Won 3 Oscars. Another 43 wins & 100 nominations.,218100000,"{New Zealand, USA, Germany}",28 Mar 2006,{Peter Jackson},"{Adventure, Drama, Action, Romance}",{English},81,"{travel, movie, overlymbitious, producer, New,...",...,14 Dec 2005,187,King Kong,"{Fran Walsh, Philippa Boyens, Peter Jackson, M...",2005,tt0360717,356947,72,84,15
25,"{Leonardo DiCaprio, Kate Winslet, Kathy Bates,...",Won 11 Oscars. Another 111 wins & 77 nominations.,0,{USA},10 Sep 2012,{James Cameron},"{Drama, Romance}","{English, Swedish}",75,"{seventeen-year-oldristocrat, ill-fated, Titan...",...,19 Dec 1997,194,Titanic,{James Cameron},1997,tt0120338,919766,78,89,15
26,"{Chris Evans, Robert Downey Jr., Sebastian Sta...",16 wins & 65 nominations.,408080554,"{USA, Germany}",13 Sep 2016,"{Anthony Russo, Joe Russo}","{Adventure, Sci-Fi, Action}","{Romanian, Hindi, Xhosa, English, Russian, Ger...",75,"{Captain, rifttween, Politicalvolvement, Ameri...",...,06 May 2016,147,Captain America: Civil War,"{Stephen McFeely, Christopher Markus, Jack Kir...",2016,tt3498820,538908,78,91,15
27,"{Brooklyn Decker, Alexander Skarsgård, Rihanna...",4 wins & 15 nominations.,65173160,{USA},28 Aug 2012,{Peter Berg},"{Adventure, Sci-Fi, Action, Thriller}","{English, Japanese}",41,"{fleet, battlenrmada, order, origins, do, dest...",...,18 May 2012,131,Battleship,"{Erich Hoeber, Jon Hoeber}",2012,tt1440129,222672,58,34,15
28,"{Vincent D'Onofrio, Irrfan Khan, Chris Pratt, ...",14 wins & 57 nominations.,528757749,{USA},20 Oct 2015,{Colin Trevorrow},"{Adventure, Sci-Fi, Action}",{English},59,"{Park, newme, spree, Jurassic, modified, Indom...",...,12 Jun 2015,124,Jurassic World,"{Rick Jaffa, Colin Trevorrow, Amanda Silver, D...",2015,tt0369610,520799,70,71,15
29,"{Daniel Craig, Ralph Fiennes, Javier Bardem, J...",Won 2 Oscars. Another 65 wins & 119 nominations.,299300000,"{USA, UK}",11 Mar 2013,{Sam Mendes},"{Adventure, Action, Thriller}","{English, Turkish}",81,"{007, tracknd, personal, no, MI6ttack, cost, M...",...,09 Nov 2012,143,Skyfall,"{Robert Wade, Ian Fleming, John Logan, Neal Pu...",2012,tt1074638,579762,78,92,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4361,"{Brenton Thwaites, Patrick Davidson, Beau Knap...",1 win & 3 nominations.,402321,{USA},23 Sep 2014,{William Eubank},"{Sci-Fi, Thriller}",{English},54,"{Nic, dark, road, When, -ly, suddenlyes, regai...",...,10 Jul 2014,97,The Signal,"{William Eubank, David Frigerio, Carlyle Eubank}",2014,tt2910814,57186,61,40,60
4362,"{Demetrius Grosse, Christy Lighthouse, Tom Plu...",8 wins & 4 nominations.,0,{USA},10 Sep 2013,{Chad Hartigan},{Drama},{English},71,"{Nevada, building, leavinghind, East, twodult,...",...,20 Jan 2013,83,This Is Martin Bonner,"{Chad Hartigan, Tara Everhart}",2013,tt1798291,819,65,40,60
4363,"{Damian Jewan Lee, Curtis Cotton III, Candace ...",9 wins & 15 nominations.,0,{USA},12 Mar 2002,{David Gordon Green},{Drama},{English},82,"{tragic, children, depressed, mistakee, up, co...",...,28 Sep 2001,89,George Washington,{David Gordon Green},2000,tt0262432,7085,74,84,60
4364,"{Heather Moudy, Derick Martini, Steven Martini...",2 wins.,0,{USA},21 Aug 2001,{Kevin Jordan},"{Comedy, Romance}",{English},44,"{, house, relationships, Asse, Chrisnccountant...",...,10 Mar 2000,90,Smiling Fish & Goat on Fire,"{Kevin Jordan, Steven Martini, Derick Martini}",1999,tt0162348,2639,75,53,60
4365,"{Barry Corbin, Kurt Cole, Johnny Walter, Brook...",4 wins & 3 nominations.,0,{USA},28 Jul 2015,{Kirk Loudon},"{Drama, Sci-Fi, Thriller}",{English},0,"{horrible, Texaswn, folktaleged, small, Comanc...",...,01 Apr 2014,95,Dawn of the Crescent Moon,"{Kevin B. Coleman, Kirk Loudon}",2014,tt3157318,40,51,53,60
4366,"{Garth Hudson, Levon Helm, The Band, Rick Danko}",2 wins & 3 nominations.,0,{USA},07 May 2002,{Martin Scorsese},"{Music, Documentary}","{English, Middle English}",88,"{concert, Band, filmccountnd, final, presentat...",...,26 Apr 1978,117,The Last Waltz,{Mardik Martin},1978,tt0077838,14277,82,53,60
4367,"{Zoe Kazan, Hunter Canning, Mark Rendall, Mary...",2 wins & 4 nominations.,0,{USA},01 Jul 2010,{Bradley Rust Gray},{Drama},{English},69,"{while, Al, young, woman, break, fledgling, fr...",...,06 May 2010,79,The Exploding Girl,{Bradley Rust Gray},2009,tt1294161,1633,63,75,60
4368,"{Dave Koenig, Julie Patterson, Robert Bones, K...",N/A,77175,{USA},09 Sep 2008,{Mike Bruce},{Western},{English},0,"{, returns, Sobero, El, scorpion-venom, reveng...",...,25 Aug 2007,78,The Legend of God's Gun,"{Kirpatrick Thomas, Mike Bruce}",2007,tt1073221,147,41,75,85
4369,"{Andrew Bujalski, Justin Rice, Rachel Clift, S...",2 wins & 2 nominations.,0,{USA},13 Feb 2007,{Andrew Bujalski},{Comedy},{English},84,"{leaves, musical, girlfriend, manner, band, ne...",...,04 May 2007,109,Mutual Appreciation,{Andrew Bujalski},2005,tt0446747,1582,69,75,85
4370,"{Robin Hill, Robert Hill, David Schaal, Julia ...",3 wins & 4 nominations.,9609,{UK},18 Jan 2011,{Ben Wheatley},"{Drama, Crime}",{English},68,"{family, threatensir, crime, unmask, business,...",...,15 Oct 2010,89,Down Terrace,"{Ben Wheatley, Robin Hill}",2009,tt1489167,3115,65,75,85
4371,"{Brian O'Halloran, Jeff Anderson, Marilyn Ghig...",5 wins & 10 nominations.,0,{USA},29 Jun 1999,{Kevin Smith},{Comedy},{English},70,"{hockey, store, Dantend, customers, roof, disc...",...,09 Nov 1994,92,Clerks,{Kevin Smith},1994,tt0109445,198017,78,75,85
4372,"{Kate Dollenmayer, Jennifer L. Schaper, Mark H...",2 wins & 3 nominations.,0,{USA},16 Aug 2005,{Andrew Bujalski},"{Drama, Comedy, Romance}",{English},78,"{, She, drinks, doesnt, (?), schoolnd, college...",...,19 Apr 2007,89,Funny Ha Ha,{Andrew Bujalski},2002,tt0327753,2149,64,87,85
4373,"{Stacy Edwards, Matt Malloy, Michael Martin, A...",14 wins & 12 nominations.,0,"{USA, Canada}",17 Mar 1998,{Neil LaBute},"{Drama, Comedy}","{English, American Sign Language}",81,"{Two, exact, life, gender, revenge, misogynist...",...,01 Aug 1997,97,In the Company of Men,{Neil LaBute},1997,tt0119361,12270,72,89,85
4374,"{Franky G, Manuel Cabral, Jessica Morales, Leo...",8 wins & 6 nominations.,0,{USA},01 Jan 2005,{Eric Eason},"{Family, Drama}",{English},71,"{transformingtoe, , capital, worldday, vibrant...",...,15 Jan 2002,78,Manito,{Eric Eason},2002,tt0298050,524,68,94,85
4375,"{Malin Akerman, Naomie Harris, Jeffrey Dean Mo...",N/A,0,{USA},26 Jun 2018,{Brad Peyton},"{Adventure, Sci-Fi, Action}","{English, American Sign Language}",45,"{differentnimalscomefected, destroying, pathog...",...,13 Apr 2018,107,Rampage,"{Ryan Engle, Carlton Cuse, Adam Sztykiel, Ryan...",2018,tt2231461,93530,62,52,85
4376,"{Rudy Basquez, Jan Hockey, Jean Caffeine, Rich...",1 win & 3 nominations.,0,{USA},14 Sep 2004,{Richard Linklater},"{Drama, Comedy}",{English},69,"{lookt, overeducated, roams, provides, misfits...",...,05 Jul 1991,97,Slacker,{Richard Linklater},1990,tt0102943,17386,71,86,85
4377,"{Tama Filianga, Mikaal Bates, Celestine Rae, R...",N/A,0,{USA},N/A,{Joseph Mazzella},"{Drama, Crime, Thriller}",{English},0,"{criminal, payf, old, crewe, ex-conced, desper...",...,02 Oct 2015,90,Dutch Kills,"{Joseph Mazzella, Tama Filianga, R.L. Mann}",2015,tt2759066,66,51,86,85
4378,"{Rhett Wilkins, Mark Duplass, Julie Fischer, K...",3 wins & 3 nominations.,0,{USA},01 Jan 1998,"{Jay Duplass, Mark Duplass}","{Drama, Comedy, Romance}",{English},73,"{gift, drives, giant, birthday, cross-country,...",...,27 Apr 2007,85,The Puffy Chair,"{Jay Duplass, Mark Duplass}",2005,tt0436689,4544,66,86,85
4379,"{Andrea Martin, Julie White, Daryl Wein, Zoe L...",1 nomination.,0,{USA},12 Oct 2010,{Daryl Wein},{Romance},{English},56,"{young, break, up, coupletricately, strategize...",...,14 Mar 2009,88,Breaking Upwards,"{Zoe Lister-Jones, Peter Duchan, Daryl Wein}",2009,tt1247644,1251,62,60,85
4380,"{Jason Trost, James Remar, Lucas Till, Sophie ...",N/A,0,{USA},29 Jan 2013,{Jason Trost},"{Sci-Fi, Thriller}",{English},0,"{order, Heroes, findmselvesbductedir, kidnappe...",...,04 Jan 2013,78,All Superheroes Must Die,{Jason Trost},2011,tt1836212,1903,40,60,80
4381,"{Béatrice Dalle, Nick Nolte, Maggie Cheung, Je...",2 wins & 8 nominations.,0,"{France, Canada, UK}",18 Jul 2006,{Olivier Assayas},"{Drama, Romance, Music}","{English, French, Cantonese}",75,"{Hauser, longtime, rock, pseudo, now, She, Lon...",...,01 Sep 2004,90,Clean,{Olivier Assayas},2004,tt0388838,4192,69,72,80
4382,"{Emma Watson, Glenne Headly, Ellar Coltrane, B...",1 win & 1 nomination.,20476300,"{USA, United Arab Emirates}",01 Aug 2017,{James Ponsoldt},"{Drama, Sci-Fi, Thriller}",{English},43,"{jobt, powerful, woman, lands, Circlely, uncov...",...,28 Apr 2017,110,The Circle,"{Dave Eggers, James Ponsoldt}",2017,tt4287320,68674,53,15,80
4383,"{Kreeta Taponen, Emma Eliza Regan, Michael Par...",2 wins.,0,{Ireland},22 Apr 2014,{Ivan Kavanagh},{Horror},{English},0,"{hates, door, working, things, night, girlfrie...",...,01 Mar 2012,83,Tin Can Man,{Ivan Kavanagh},2007,tt1235811,72,65,15,92
4384,"{Masato Hagiwara, Kôji Yakusho, Tsuyoshi Ujiki...",9 wins & 2 nominations.,0,{Japan},06 Jan 2004,{Kiyoshi Kurosawa},"{Mystery, Crime, Horror}","{Japanese, Spanish}",70,"{no, case, murders, detective, have, committed...",...,08 Jul 2001,111,Cure,{Kiyoshi Kurosawa},1997,tt0123948,8036,74,15,92
4385,"{Michael Newland, Erik Schrody, Peter Greene, ...",1 nomination.,0,{USA},21 Nov 2006,{Ash Baron-Cohen},"{Drama, Crime}",{English},0,"{, Lhaving, nabs, partnd, didnt, furious, prod...",...,01 Nov 1997,98,Bang,{Ash Baron-Cohen},1995,tt0109266,445,64,15,72
4386,"{David Sullivan, Casey Gooden, Shane Carruth, ...",3 wins & 7 nominations.,392420,{USA},05 Apr 2005,{Shane Carruth},"{Drama, Sci-Fi, Thriller}","{English, French}",68,"{friends/fledgling, devicesyve, something, big...",...,27 May 2005,77,Primer,{Shane Carruth},2004,tt0390384,87361,69,15,73
4387,"{Edgar Tancangco, Norma Tancangco, Ian Gamazon...",4 wins & 1 nomination.,0,"{USA, Philippines}",08 Aug 2006,"{Neill Dela Llana, Ian Gamazon}",{Thriller},"{English, Tagalog, Filipino}",64,"{haveen, certain, doesnt, home, American, kill...",...,12 Mar 2005,80,Cavite,"{Neill Dela Llana, Ian Gamazon}",2005,tt0428303,596,63,15,93
4388,"{Jaime de Hoyos, Carlos Gallardo, Consuelo Góm...",7 wins & 4 nominations.,0,"{USA, Mexico}",26 Aug 2003,{Robert Rodriguez},"{Action, Crime, Thriller}",{Spanish},73,"{traveling, criminalnd, mariachi, mistaken, ga...",...,26 Feb 1993,81,El Mariachi,{Robert Rodriguez},1992,tt0104815,57655,69,15,70
4389,"{Kristin Booth, Eric Mabius, Crystal Lowe, Geo...",1 nomination.,0,"{USA, Canada}",N/A,{N/A},"{Mystery, Drama, Comedy}",{English},0,"{solve, postal, work, packages, undeliverable,...",...,20 Apr 2014,43,"Signed, Sealed, Delivered",{Martha Williamson},2014,tt3592718,1436,74,15,53

# 3. Analysis